<div class="admin">
	<div class="logo"></div>
	<img src="/assets/botoes/home.png" 
		class="home"
		(click)="sair()">
	<p class="titulo">Cadastro de perguntas</p>

	<div class="perguntas-container">
	  <mat-table [dataSource]="dataSource">
	    <ng-container matColumnDef="pergunta">
	      <mat-header-cell *matHeaderCellDef>Pergunta</mat-header-cell>
	      <mat-cell *matCellDef="let element">{{element}}</mat-cell>
	    </ng-container>
	    <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
	  </mat-table>
	  <mat-paginator 
	    #paginator
        [pageSize]="4">
  	  </mat-paginator>
	</div>
	
</div>
