<div id="quiz">
  <form>
	<h1>Quiz Fighter</h1>
	<h2>
		{{ jogadores[0].nome }} 
		<u>[{{ placar[0].acertos }} X {{ placar[1].acertos }}]</u>
		{{ jogadores[1].nome }}
	</h2>
	<p>Vez: {{ jogadores[vezJogar].nome }}</p>
	<p><strong>{{ perguntaAtual.questao }}</strong></p>
	<div *ngFor="let opcao of perguntaAtual.opcoes; let i=index"
		class="btnOpcao"
		[ngClass]="{ 'btnOpcaoAtivo': i==questaoSel, 
			'btnOpcao': i!=questaoSel }"
		(click)="selecionarOpcao(i)">
		{{ opcao }}
	</div>
	<button 
		class="btnConfirmar"
		(click)="confirmar($event)" 
		[disabled]="questaoSel < -10">
		Confirmar
	</button>
  </form>
</div>
<div id="game"></div>
