<div class="quiz">
	<div class="logo"></div>
	<!--<p>Vez: {{ jogadores[vezJogar].nome }}</p>-->
	<p class="pergunta">
		{{ perguntaAtual.questao }}
	</p>
	<div *ngFor="let opcao of perguntaAtual.opcoes; let i=index"
		class="btnOpcao"
		[ngClass]="{ 'btnOpcaoAtivo': i==questaoSel, 
			'btnOpcao': i!=questaoSel }"
		(click)="selecionarOpcao(i)">
		{{ opcao }}
	</div>
	<button 
		class="btnConfirmar"
		[ngClass]="{ 'btnConfirmar': questaoSel >= 0, 
			'btnInativo': questaoSel < 0 }"
		(click)="confirmar($event)" 
		[disabled]="questaoSel < 0">
		Confirmar<!--Aguarde a sua vez-->
	</button>
	<div 
		class="popup"
		[ngStyle]="{'display': mostrarPopup ? 'block' : 'none'}">
		<p>{{ msgPopup }}</p>
		<div class="btnPopup" (click)="fecharPopup()">
			OK
		</div>
	</div>
	<div 
		class="popup"
		[ngStyle]="{'display': aguardandoOponente ? 'block' : 'none'}">
		<br /><br/>
		<p>Aguarde o seu oponente...</p>
	</div>
</div>
<div id="game" [ngClass]="{game: !jogo}"></div>
