<div class="login">
	<div class="logo"></div>
	<form [formGroup]="form" novalidate>
	  <mat-list>
	    <mat-list-item>
		  <mat-form-field>
		    <input matInput placeholder="Email" 
		    	formControlName="email">
		  </mat-form-field>
		</mat-list-item>
	    <mat-list-item>
		  <mat-form-field>
		    <input type="password" matInput placeholder="Senha"
		    	formControlName="senha">
		  </mat-form-field>
		</mat-list-item>
	    <mat-list-item *ngIf="!cadastro">
		  <button mat-raised-button color="primary"
		  	[disabled]="form.invalid" (click)="logarEmail()">
		  	Logar
		  </button>
		</mat-list-item>
		<mat-list-item *ngIf="!cadastro">
		  <button mat-raised-button color="warn"
		    (click)="logarGoogle()">
		  	Google login
		  </button>
		</mat-list-item>
		<mat-list-item *ngIf="!cadastro">
		  <a mat-button color="primary"
		  	(click)="exibirCadastro()">
		  	Não possui cadastro?
		  </a>
		</mat-list-item>
		<mat-list-item *ngIf="cadastro">
		  <button mat-raised-button color="primary"
		  	[disabled]="form.invalid" (click)="cadastrarEmail()">
		  	Cadastrar
		  </button>
		</mat-list-item>
		<mat-list-item *ngIf="cadastro">
		  <a mat-button color="primary"
		  	(click)="exibirLogin()">
		  	Voltar
		  </a>
		</mat-list-item>
	  </mat-list> 
	</form>
	
	<div *ngIf="afAuth.authState | async as user; else exibirLogin2">
      <h1>Olá {{ user.displayName }} 
      {{ user.email.split('@')[0] }}!</h1>
      <button mat-button color="primary" (click)="sair()">Sair</button>
    </div>
	<!--
	<div *ngIf="afAuth.authState | async as user; else exibirLogin">
      <h1>Olá {{ user.displayName }} 
      {{ user.email.split('@')[0] }}!</h1>
      <button mat-button color="primary" (click)="sair()">Sair</button>
    </div>
    <ng-template #exibirLogin>
      <p>Login:</p>
      <button mat-button color="warn" 
      	(click)="loginGoogle()">Login com Google</button>
    </ng-template>
    <br />
	<a mat-button color="primary" routerLink="/jogo">Jogo</a>
	-->
</div>
